{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Who's Free</title>
  <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
</head>
<body>

<header>
  <img src="{% static 'users/images/logo1.png' %}" alt="Who's Free Logo" class="logo">
  <nav>
    <a href="#">Home</a>
    <a href="#">About Me</a>
    <a href="#">Language</a>
    <a href="signup.html">Login/Sign up</a>
  </nav>
</header>

{% block content %}
<main>
  <section class="intro" id="intro">
    <h1>Wanna hangout, but...</h1>
    <div class="questions">
      <div class="question">
        <p>Adult life sucks?</p>
      </div>
      <div class="question">
        <p>No one to hangout with?</p>
      </div>
      <div class="question">
        <p>You don't like to make friends?</p>
      </div>
    </div>
  </section>

  <section class="cta hidden" id="cta">
    <h2>We got you buddy!</h2>
    <p>Create your account and start today</p>
  <a class="primary-btn" href="{% url 'signup' %}">Create account</a>
  <a class="primary-btn" href="{% url 'login' %}">Already have an account? Login</a>
</section>
</main>
{%endblock%}

<script src="{% static 'users/js/script.js' %}"></script>
</body>
</html>