{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<body style="transition: opacity 1s;">
  <div class="landing-page">
    <img src="{% static 'images/landing_page.png' %}" alt="Illustration of people connecting" class="hero-image">
  </div>

  <script>
    setTimeout(() => {
      document.body.style.opacity = 0;
      setTimeout(() => {
        window.location.href = "{% url 'create' %}";
      }, 1000); // 1 second fade-out
    }, 3000); // Wait 3 seconds before fading out
  </script>
</body>
{% endblock %}
