{% extends 'users/account.html'%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/friends_list.css' %}">
{% endblock %}

{% block content %}
<div class="friends-container">
    <h1 class="friends-header">Users Interested in "{{ event.name }}"</h1>

    {% if interested_users %}
        <div class="friends-grid">
            {% for user in interested_users %}
                <div class="friend-card">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="friend-avatar">
                    {% else %}
                        <img src="{% static 'images/default_profile.png' %}" alt="Default Avatar" class="friend-avatar">
                    {% endif %}
                    
                    <h3 class="friend-username">{{ user.username }}</h3>
                    <p class="friend-detail">Email: {{ user.email }}</p>

                    {% if user != request.user %}
                    <div class="friend-actions">
                        <a href="{% url 'send_friend_request' user.id %}" class="btn btn-primary">Send Friend Request</a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-friends">
            <p>No users have marked this event as interested yet.</p>
        </div>
    {% endif %}

    <a href="{% url 'my_created_events' %}" class="btn btn-secondary">Back to My Created Events</a>
</div>
{% endblock %}
