{% extends 'base.html' %}

{% block content %}
<h1>Additional Information</h1>
<form method="post" class="signup-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.profile_picture.label_tag }}
    {{ form.profile_picture }}

    {{ form.phone_number.label_tag }}
    {{ form.phone_number }}

    {{ form.birth_date.label_tag }}
    {{ form.birth_date }}

    {{ form.bio.label_tag }}
    {{ form.bio }}

    {{ form.interests.label_tag }}
    {{ form.interests }}


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}